<div>
  <div>
    <h1>
      Request #<%= @the_request.id %> details
    </h1>

    <div>
      <div>
        <a href="/view_requests">
          Go back
        </a>
      </div>
    </div>

    <hr>

    <dl>
      <dt>
        Request date
      </dt>
      <dd>
        <%= @the_request.request_date %>
      </dd>

      <dt>
        Start time
      </dt>
      <dd>
        <%= @the_request.request_start_time %>
      </dd>

      <dt>
        End time
      </dt>
      <dd>
        <%= @the_request.request_end_time %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <%= @the_request.request_location %>
      </dd>

      <dt>
        Street address
      </dt>
      <dd>
        <%= @the_request.request_street_address %>
      </dd>

      <dt>
        City
      </dt>
      <dd>
        <%= @the_request.request_city %>
      </dd>

      <dt>
        State
      </dt>
      <dd>
        <%= @the_request.request_state %>
      </dd>

      <dt>
        Country
      </dt>
      <dd>
        <%= @the_request.request_country %>
      </dd>

      <dt>
        Postal code
      </dt>
      <dd>
        <%= @the_request.request_postal_code %>
      </dd>

      <dt>
        Parking location
      </dt>
      <dd>
        <%= @the_request.request_parking_location %>
      </dd>

      <dt>
        Meeting location
      </dt>
      <dd>
        <%= @the_request.request_meeting_location %>
      </dd>

      <dt>
        Does requestor have a pet?
      </dt>
      <dd>
        <%= @the_request.request_pet %>
      </dd>

      <dt>
        Gender preference
      </dt>
      <dd>
        <%= @the_request.request_gender_preference %>
      </dd>

      <dt>
        Requestor's comments
      </dt>
      <dd>
        <%= @the_request.request_comments %>
      </dd>

      <dt>
        Expected earning
      </dt>
      <dd>
        <%= @the_request.request_amount %>
      </dd>

      <dt>
        Status
      </dt>
      <dd>
        <%= @the_request.request_status %>
      </dd>

      <dt>
        Requestor
      </dt>
      <dd>
        <%#= @the_request.requestor_id %>
        <%= @the_request.requestor.user_first_name %>
      </dd>

      <dt>
        Provider
      </dt>
      <dd>
        <%#= @the_request.provider_id %>
         <%= @the_request.provider.user_first_name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_request.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_request.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h5>
      Click I accept button below to accept this request. 
    </h5>

    <form action="/accept_request/<%= @the_request.id %>"  method="post" >

      <div>
        <input type="hidden" id="provider_id_box" name="query_provider_id" value="<%= session.fetch ( :user_id) %>">
      </div>

      <button  class="btn btn-primary">
        I accept
      </button>
    </form>
  </div>
</div>

<hr>
