<div>
  <div>
    <h1>
      Service type: Communication Facilitator (CF)
    </h1>
  </div>
</div>

<hr>

<p>
A communication facilitator (CF) provides visual information to those unable to see the video screen 
or receive visual American Sign Language (ASL). A CF is a skilled signer who copies sign language 
from a caller, as shown on a videophone screen, and provides visual information to a people 
through close vision or tactile sign language.
</p>

<div>
  <div>
    <h2>
      Date & Time
    </h2>

    <p>

    <form action="/insert_request" method="post">
      <div>
        <label for="request_date_box">
          Date of your call
        </label>

        <input type="date" id="request_date_box" name="query_request_date">
      </div>

      <div>
        <label for="request_start_time_box">
          Start time
        </label>

        <input type="time" id="request_start_time_box" name="query_request_start_time">
      </div>

      <div>
        <label for="request_end_time_box">
          End time
        </label>

        <input type="time" id="request_end_time_box" name="query_request_end_time">
      </div>

    <p>
    
    <h2>
      Location
    </h2>

    <p>

      <li>
        P.O. boxes are not accepted.
      </li>

      <div>
        <label for="request_location_box">
          Name of the location
        </label>

        <input type="text" id="request_location_box" name="query_request_location">
      </div>

      <div>
        <label for="request_street_address_box">
          Street address
        </label>

        <input type="text" id="request_street_address_box" name="query_request_street_address">
      </div>

      <div>
        <label for="request_city_box">
          City
        </label>

        <input type="text" id="request_city_box" name="query_request_city">
      </div>

      <div>
        <label for="request_state_box">
          State
        </label>

        <input type="text" id="request_state_box" name="query_request_state">
      </div>

      <div>
        <label for="request_country_box">
          Country
        </label>

        <input type="text" id="request_country_box" name="query_request_country">
      </div>

      <div>
        <label for="request_postal_code_box">
          Postal code
        </label>

        <input type="text" id="request_postal_code_box" name="query_request_postal_code">
      </div>

      <div>
        <label for="request_parking_location_box">
          Where should your provider park?
        </label>

        <input type="text" id="request_parking_location_box" name="query_request_parking_location">
      </div>

      <div>
        <label for="request_meeting_location_box">
          Where should your provider meet you?
        </label>

        <input type="text" id="request_meeting_location_box" name="query_request_meeting_location">
      </div>

      <div>
        <input type="checkbox" id="request_pet_box" name="query_request_pet" value="1">

        <label for="request_pet_box">Have pet?</label>
      </div>

    <p>
    <h2>
      Preference
    </h2>
    <p>

      <div>
        <label for="request_gender_preference_box">
          Do you have any preference for the gender of your provider?
        </label>

        <input type="text" id="request_gender_preference_box" name="query_request_gender_preference">
      </div>

    <p>
    <h2>
      Comments
    </h2>
    <p>

      <div>
        <label for="request_comments_box">
          Do you want to share anything with your provider such as which provider do you prefer or not prefer?
        </label>

        <input type="text" id="request_comments_box" name="query_request_comments">
      </div>

      <div>

        <input type="hidden" id="request_amount_box" name="query_request_amount">
      </div>

      <div>

        <input type="hidden" id="request_status_box" name="query_request_status">
      </div>

      <div>

        <input type="hidden" id="requestor_id_box" name="query_requestor_id" value="<%= session.fetch(:user_id) %>">
      </div>

      <div>

        <input type="hidden" id="provider_id_box" name="query_provider_id">
      </div>

      <p>
      <button class="btn btn-primary" >
        Submit
      </button>
    </form>
      </p>

    <p>
    <form action="/insert_request" method="post">
      <button class="btn btn-secondary">
        Cancel
      </button>
    </form>
    </p>

  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Request ID
        </th>

        <th>
          Request date
        </th>

        <th>
          Start time
        </th>

        <th>
          End time
        </th>

        <th>
          Location
        </th>

        <th>
          Street address
        </th>

        <th>
          City
        </th>

        <th>
          State
        </th>

        <th>
          Request payment
        </th>

        <th>
          Status
        </th>

        <th>
          Requestor
        </th>

        <th>
          Provider
        </th>

      </tr>

      <% @list_of_requests.each do |a_request| %>
      <tr>
        <td>
          <%= a_request.id %>
        </td>

        <td>
          <%= a_request.request_date %>
        </td>

        <td>
          <%= a_request.request_start_time %>
        </td>

        <td>
          <%= a_request.request_end_time %>
        </td>

        <td>
          <%= a_request.request_location %>
        </td>

        <td>
          <%= a_request.request_street_address %>
        </td>

        <td>
          <%= a_request.request_city %>
        </td>

        <td>
          <%= a_request.request_state %>
        </td>

        <td>
          <%= a_request.request_amount.to_s(:currency) %>
        </td>

        <td>
          <%= a_request.request_status %>
        </td>

        <td>
          <%#= a_request.requestor_id %>
          <%= a_request.requestor.user_first_name %>
          <%# requestor = User.where({ :id => a_request.requestor_id }).at(0) %>

          <%#= requestor.user_first_name %>
        </td>

        <td>
          <%#= a_request.provider_id %>
          <% if a_request.request_status == "Pending" %>

          <% else %>
           <%= a_request.provider.user_first_name %>

           <% end %>
           <%# provider = User.where({ :id => a_request.provider_id }).at(0) %>

          <%#= provider.user_first_name %>
        </td>

        <td>
          <a href="/requests/<%= a_request.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
