<div >
  <h2>
    Update my account
  </h2>

  <hr>

  <div>
    <form action="/modify_user" method="post">
      <div>
        <label for="email_box">Email</label>
        <input id="email_box" name="query_email" value="<%= @current_user.email %>">
      </div>
      <div>
        <label for="user_type_box">My account type</label>
        <input id="user_type_box" name="query_user_type" value="<%= @current_user.user_type %>">
      </div>
    
      <div>
        <label for="user_first_name_box">First name</label>
        <input id="user_first_name_box" name="query_user_first_name" value="<%= @current_user.user_first_name %>">
      </div>
      <div>
        <label for="user_last_name_box">Last name</label>
        <input id="user_last_name_box" name="query_user_last_name" value="<%= @current_user.user_last_name %>">
      </div>
      <div>
        <label for="user_street_address_box">Street address</label>
        <input id="user_street_address_box" name="query_user_street_address" value="<%= @current_user.user_street_address %>">
      </div>
      <div>
        <label for="user_city_box">City</label>
        <input id="user_city_box" name="query_user_city" value="<%= @current_user.user_city %>">
      </div>
      <div>
        <label for="user_state_box">State</label>
        <input id="user_state_box" name="query_user_state" value="<%= @current_user.user_state %>">
      </div>
      <div>
        <label for="user_country_box">Country</label>
        <input id="user_country_box" name="query_user_country" value="<%= @current_user.user_country %>">
      </div>
      <div>
        <label for="user_postal_code_box">Postal code</label>
        <input id="user_postal_code_box" name="query_user_postal_code" value="<%= @current_user.user_postal_code %>">
      </div>
      <div>
        <label for="user_comments_box">My comments</label>
        <input id="user_comments_box" name="query_user_comments" value="<%= @current_user.user_comments %>">
      </div>

    
      <div>
        <label for="password_box">Password</label>
        <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
      </div>
    
      <div>
        <label for="password_confirmation_box">Password Confirmation</label>
        <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
      </div>

    
  <hr>

      <button class="btn btn-primary">
        Update account
      </button>
    </form>
  </div>
</div>
